* {
    color: black;
}
.quiz-content{
    margin-top: 5vh;
    height: 80vh;
}
.quiz{
    display: flex;
}

.container{
    justify-content: space-evenly; 
}


.answers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative; top: 200px;
}