* {
    color: black;
}
.quiz-content{
    margin-top: 5vh;
    height: 80vh;
    margin-left: 200px;
}
.quiz{
    display: flex;
}

.container{
    justify-content: space-evenly; 
}


.answers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative; top: 200px;
}

.button {
    width: 200px;
    height: 100px;
    font-size: 20px;
}