.productWrapper {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgContainerProd {
    flex: 1;
    max-width: 50vw;
    position: relative;
    justify-content: center;
}
.imgContainerProd img {
    margin: 0 auto;
}

.infoContainer {
    flex: 1;
    padding: 0px 50px;
}

.infoContainer p {
    margin: 20px 0px;
}

.prodgalleryimage {
    position: relative;
    max-width: 100%;
}

.fadeBox {
    max-width: 100%;
}

.swig {
    justify-content: center;
}

.infoContainer button {
    margin: 30px;
    border: none;
    filter: drop-shadow(2px 2px 2px #0000009a);
    background-color: #e64a19;
    color: white;
    font-weight: bolder;
}