.productContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tag-btns {
    display: flex;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 95px;
}

.tag-btns button {
    margin: 15px;
    padding: 10px;
    background-color: rgb(23, 199, 199);
}
