.productContainer {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-container {
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    position: relative;
}

.card-container :hover {
    opacity: 1;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
}

img {
    height: 75%;
    z-index: 2;
}

.img1 {
    display: inline;
}

.img1:hover {
    display: none;
}

.img2 {
    display: none;
}

.img2:hover {
    display: inline;
}

.info {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease;
    cursor: pointer;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 1.5s ease;
}

.icon :hover {
    background-color: #e9f5f5;
    transform: scale(1.1);

}
