.cartWrapper {
    padding: 20px;
    margin-left: 50px;
}

.cartContainer {
    display: flex;
    justify-content: space-between;
}

.infoContainer {
    flex: 3;
}

.productContainer {
    display: flex;
    justify-content: space-between;
}

.detailContainer {
    flex: 2;
    display: flex;
}

.detailContainer img {
    width: 200px;
    height: 200px;
}

.details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.priceDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productAmtContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.productAmt {
    font-size: 24px;
    margin: 5px;
}

.productPrice {
    font-size: 30px;
    font-weight: 200;
}

.summaryContainer {
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}

.summaryItem {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.checkoutBtn {
    width: 100%;
    padding: 10px;
    background-color: #e65100;
    color: white;
    font-weight: 600;
}

.checkoutBtn:hover {
    background-color: (rgb 59, 59, 59);
    color: white;
    transition-duration: .5s;
}

.checkoutBtn:focus{
    background-color: (rgb 59, 59, 59);
    color: white;
    transition-duration: .5s;
}
.cartTitle {
    margin-left: 120px;
    background-color: orange;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.orderTitle {
    text-align: center;
    display: flex;
    position: relative;
    margin-left: 200px;
    background-color: orange;
    padding: 10px 20px 10px 20px;
    width: 330px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.shippingStatement {
    font-size: 2em;
}

.shippingStatement span {
    color: red;
}
