.container-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: #a7ecf5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
    transition: all 0.5s ease 0s;
}

.arrow:hover {
    background-color: rgb(7, 192, 192);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.wrapper {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;  
    transform: translateX(0vw);
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.imgContainer {
    height: 100%;
    flex: 1;
}

.image {
    height: 80%;
}

.infoContainer{
    flex: 1;
    padding: 50px;
    min-width: 300px;
    text-align: center;
    align-items: center;
}

.infoContainer h1 {
    font-size: 70px;
}

.infoContainer p {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

.infoContainer button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.infoContainer button {
    background-color: rgb(10, 224, 224);
}

.infoContainer h4 {
    background-color: rgb(204, 204, 204);
    padding: 5px;
    width: 250px;
    text-align: center;
    align-items: center;
}

.infoContainer h4:hover {
    background-color: rgb(153, 153, 153);
    padding: 5px;
    width: 250px;
    transition: all .5s ease;
}

.sliderButton:hover {
    opacity: 50%;
    background-color: cyan;
    color: #e65100;
    transition: all .5s ease 0s;
}