.container-slider {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    /* overflow: hidden; */
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
    z-index: 2;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.wrapper {
    height: 100%;
    display: flex;
    transform: translateX(0vw);
}

.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.imgContainer {
    height: 100%;
    flex: 1;
}

.image {
    height: 80%;
}

.infoContainer{
    flex: 1;
    padding: 50px;
}

.infoContainer h1 {
    font-size: 70px;
}

.infoContainer p {
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}

.infoContainer button {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}