.head-bar {
    height: 140px;
    display: flex;
    justify-content: space-evenly;
}

h4{
    color: white;
}

#mobile-nav{
    background-color: #f57c00
}

#logo {
    position: relative; top: 20px;
}

@media only screen and (max-width: 992px) {
    .nav-wrapper{
        width: 100%;
    }
    #nav-menu{
        font-size: 5rem;
        position: relative; top: 30px;
    }
    #logo{
        width: 230px
    }
}