/* label color */
.input-field label {
    color: #E53611;
   }
   /* label focus color */
   .input-field input:focus + label
   {
    color: #E53611;
   }
   /* label underline focus color */
   .input-field input[type=text]:active {
    border-bottom: 1px solid #E53611;
    box-shadow: 0 1px 0 0 #E53611;
   }
   /* valid color */
   .input-field input[type=text].valid {
    border-bottom: 1px solid #E53611;
    box-shadow: 0 1px 0 0 #E53611;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
    border-bottom: 1px solid #E53611;
    box-shadow: 0 1px 0 0 #E53611;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
    color: #E53611;
   }
   .contact-container {
       margin-top:75px;
   }

   .center-align {
    margin-left:120px;
    background-color: #e65100;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
   }
